@model cineH.Models.pelicula

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","pelicula", FormMethod.Post, 
new

{
   id ="PeliculaFormID",
   enctype ="multipart/form-data"
    

} ))
 
 {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Pelicula</legend>

      <div class="editor-label">
            @Html.LabelFor(model => model.id_pelicula)
     </div>
        
    <div class="editor-field">
           
    @{Html.RenderAction("Listapelicula", "pelicula");}

    @Html.ValidationMessageFor(model => model.id_pelicula)
    </div>


     <div class="editor-label">
            @Html.LabelFor(model => model.nombre_pelicula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre_pelicula)
            @Html.ValidationMessageFor(model => model.nombre_pelicula)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.duracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.duracion)
            @Html.ValidationMessageFor(model => model.duracion)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.audio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.audio)
            @Html.ValidationMessageFor(model => model.audio)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.calidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calidad)
            @Html.ValidationMessageFor(model => model.calidad)
        </div>

        
     <div class="editor-label">
            @Html.LabelFor(model => model.id_genero)
     </div>

     <div class="editor-label">
    
        @Html.DropDownList("id_genero", new SelectList(new string [] {"Seleccione un genero"}))

      <div id="generos">
         <label for ="generos">Genero</label>
         <select id ="id_genero" name ="id_genero">
             <option selected> Seleccione un genero </option>
         </select>
        </div>       
    </div>
     

        <div class="editor-label">
            @Html.LabelFor(model => model.id_formato)
     </div>

     <div class="editor-label">
    
        @Html.DropDownList("id_formato", new SelectList(new string [] {"Seleccione un formato"}))

      <div id="formatos">
         <label for ="formato">Formato</label>
         <select id ="id_formato" name ="id_formato">
             <option selected> Seleccione un formato </option>
         </select>
        </div>       
    </div>
     
        

         <div class="editor-label">
            @Html.LabelFor(model => model.id_estudio)
     </div>

     <div class="editor-label">
    
        @Html.DropDownList("id_estudio", new SelectList(new string [] {"Seleccione un estudio"}))

      <div id="Estudios">
         <label for ="estudio">Estudio</label>
         <select id ="id_estudio" name ="id_estudio">
             <option selected> Seleccione un formato </option>
         </select>
        </div>       
    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.id_director)
     </div>

     <div class="editor-label">
    
        @Html.DropDownList("id_director", new SelectList(new string [] {"Seleccione un director"}))

      <div id="Directores">
         <label for ="director">Director</label>
         <select id ="id_director" name ="id_director">
             <option selected> Seleccione un director </option>
         </select>
        </div>       
    </div>


       
        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_estreno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_estreno)
            @Html.ValidationMessageFor(model => model.fecha_estreno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.elenco)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.elenco)
            @Html.ValidationMessageFor(model => model.elenco)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.elenco)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.elenco)
            @Html.ValidationMessageFor(model => model.elenco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sinopsis)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.sinopsis)
            @Html.ValidationMessageFor(model => model.sinopsis)
        </div>
        <a href="#" id ="add"> Agregar Imagen </a>
        <div id ="divPeliculasImagenes">
     

  </fieldset>
        
    <p>
        <input type="submit" value="Create" />
    </p>



    
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


