@{
    ViewBag.Title = "Acerca de";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    </p>

    <p>
    </p>

    <p>
    </p>
</article>

<aside>
    <h3>Al lado del título</h3>
    <p>
    </p>
    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
</aside>